@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
}
